<div mat-dialog-title>
    Set Password for Bank Locker
</div>
<mat-dialog-content>
    <form action="" [formGroup]="setpassword">
        <mat-form-field appearance='outline'>
            <mat-label for="password">Enter new Password</mat-label>
            <input matInput [type]="type" name="password" id="password" formControlName="password">
            <mat-error *ngIf = "formErrors.password">
                {{formErrors.password}}
            </mat-error>
        </mat-form-field>     
        <mat-checkbox (change)="changed($event)">
            Show Password
        </mat-checkbox>
    </form>
</mat-dialog-content>
<mat-dialog-actions align='right'>
    <button mat-button color='primary' (click)="submit()" [disabled]="setpassword.invalid">Set password</button>
</mat-dialog-actions>