<div class="container">
    <div class="buttons">
        <mat-card routerLink="/media-home/images">
            <mat-card-content>
                <mat-icon>folder_open</mat-icon>
                <button mat-button >Images</button>    
            </mat-card-content>
        </mat-card>
        <mat-card routerLink="/media-home/audios">
            <mat-card-content>
                <mat-icon>folder_open</mat-icon>
                <button mat-button>Audios</button>
            </mat-card-content>
        </mat-card>   
        <mat-card routerLink="/media-home/videos">
            <mat-card-content>
                <mat-icon>folder_open</mat-icon>
                <button mat-button>Videos</button>
            </mat-card-content>
        </mat-card>      
    </div>
</div>