<div mat-dialog-title>
    Enter Password for {{invokedBy | titlecase}} Locker
</div>
<mat-dialog-content>
    <form action="" [formGroup]="getpassword">
        <mat-form-field appearance='outline'>
            <mat-label for="password">Enter your Password</mat-label>
            <input matInput [type]="type" name="password" id="password" formControlName="password">
            <mat-error *ngIf = "formErrors.password">
                {{formErrors.password}}
            </mat-error>
        </mat-form-field>     
        <mat-checkbox (change)="changed($event)">
            Show Password
        </mat-checkbox>
    </form>
</mat-dialog-content>
<mat-dialog-actions align='right'>
    <button mat-button mat-dialog-close>cancel</button>
    <button mat-raised-button color='primary' (click)="submit()" [disabled]="getpassword.invalid">OK</button>
</mat-dialog-actions>