<div class="container">
    <div class="buttons">
        <mat-card (click)="openBank()">
            <mat-card-content>
                <mat-icon>folder_open</mat-icon>
                <button mat-button >Bank</button>    
            </mat-card-content>
        </mat-card>
        <mat-card  (click)="openMedia()">
            <mat-card-content>
                <mat-icon>folder_open</mat-icon>
                <button mat-button>Media</button>
            </mat-card-content>
        </mat-card>      
    </div>
</div>